#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	:

override_dh_auto_test:
	:

override_dh_auto_install:
	python3 ./export-idle-shutdown-assets.py \
		--idle-script ./idle-shutdown.sh \
		--out-dir ./debian/tmp \
		--git-rev package

override_dh_install:
	dh_install --sourcedir=debian/tmp

override_dh_usrlocal:
	:
